body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message{
    background-color: #404040;
padding:.5rem;
    margin: .5rem;
    border: 1px solid grey;
    border-radius: 5px;
}
.message-info{
   background-color:#CDDDFF ;
}

.message-success{
    background-color:#CFF3DA ;
}

.message-warning{
    background-color:#FCFBC9;
}
.message-error{
    background-color:#FAD2D6 ;
}
