.fancy-header{
    color:purple;
}
h1{
    text-align: center;
}
h2{
    text-transform: uppercase;
}
#vision h2{
    color: blue;
    text-decoration: underline;
}
#hero{
    background-color: bisque;
}
.section-border{
    background-color: unset;
    border-bottom: 1px solid #000;
}
section{
    background-color: #eee;
}