.fancy-header{
    color:black;
}
h1{
    text-align: center;
}
h2{
    text-transform: uppercase;
}
.nice-header{
    color: #010a0a;
    text-decoration: underline;
}

body {
    background-color: lightgray;
    background-image: url("Img/tech.jpeg");
    background-size: contain;
    background-blend-mode: soft-light;

}

.section-border{
    background-color: unset;
    border-bottom: 1px solid #000;
    padding: 10px;
}
section{
    background-color: rgba(240, 248, 255, 0.4);
    border-radius:20px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}